* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
}
.container{
    
    display: flex;
    align-items: normal;
    position: absolute;
    top: 3%;
    gap: 500px;
    
}
.logo {margin-left: 50px;
    align-items: center;
    
}
.container .logo img{
    height: 80px;
    width: 150px;
    object-fit: contain;
    object-position: center;
}


.main img{
    height: 100vh;
    width: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
}

.box1 {
    height: 100px;
    width: 100%;
    padding-top:35px ;
   
    color: white;
    display: flex;
    align-self: center;
  gap: 150px;
}
.box1 a{
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box2{
    position: absolute;
    top: 40%;
    left: 29%;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(217, 217, 38);
}

.search-container {
    width: 300px;
   position: absolute;
   top: 55%;
   left: 45%;
}

input[type="text"] {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
