*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
  
}

.main{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;

   }

.container{
    height: 500px;
    width: 350px;
    background-color: aliceblue;
    position: absolute;
    border-radius: 10px;
    box-shadow: 10px;

}
.container h1{
  padding-top:50px  ;
  padding-left:130px;
  padding-bottom: 30px;
}
.detail{
    padding-top:50px  ;
    padding-left:40px;
   
}
.detail input{
    width: 270px;
    padding-top: 100px;
    border: none;
    border-bottom: 2px solid black;        
    background: none;    
    padding:10px;           
    margin: 0;            
       
    
            
  
}
.login{
    padding-top:30px  ;
    padding-left:130px;
    
   

}
.login input{
    padding: 10px 30px;
    color: antiquewhite;
    font-size: 400;
    background-color: rgb(167, 89, 239);
}
