*{
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:white;
}

.one{
    width: 40%;
    height: 300px;
    background-color: white;
    display: flex;


}
.one .box1 img{
    object-fit: contain;
    object-position: center;
    height: 100%;
    width: 150%;
}
.box2{
   padding-top:30px ;
    margin-left: 95px;
}
.box2 h3:nth-child(2){
    line-height: 3;
}
.box2 h2{
    line-height: 2;
}