*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

.box1{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 30px;
  
}
.logo img{
    width: 100%;
    height: 40px;
}
.search-container {
    width: 300px;
   
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.special-btn a{
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
    font-weight: 500;
    background-color: aqua;
    border-radius: 10px;
    border: 2px solid black;
}
.box2{
    width: 80%;
    height: 350px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 10px;
    background-color: aqua;
}
.box2 img{
    height:350px;
    width: 26%;
}
.box3{
    width: 100%;
    height: 325px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.box3::-webkit-scrollbar{
    display: none;
}

.card{
 display: inline-block;
}
.card img{
    width:33%;
    height:300px;
    padding: 12px 30px;
    border-radius: 1px solid black;
    border-radius: 10px;
}
.card img:hover{
    padding: 15px 35px;
    background-color:gray;
  
   
    transition: all 1ms;

}
